<div style="opacity: 0.9; padding: 10px;">

	<!-- Title -->
	<div class="modal-content">
		<div class="panel-primary">
			<div class="panel-heading">
				<h1 class="modal-title"><%= @post.title %></h1>
				<p class="">Created by <%= @post.user.email %> <%= time_ago_in_words(@post.created_at) %></p>
			</div>
		</div>
	
		<!-- Description -->
		<div class="modal-body"><%= @post.description %></div>
		
	</div>
</div>

<br>

<!-- Viewing section of comments and replies -->
<div style="opacity: 0.9; padding: 10px;">

<!-- Comments appear here -->
<% @post.comments.each do |comment| %>
	<div class="modal-content">
		<div class="panel-primary">
			<p class="modal-title panel-heading">
			Replied by: <%= comment.user.email %> <%= time_ago_in_words(comment.created_at) %> 
			</p>
		</div>

		<div>
			<p> <%= render comment %> </p>
		</div>
	</div>

	<br>
<% end %>

	<div class="modal-content">
		<div class="panel-primary">
			<h2 class="modal-title panel-heading">Reply To Post:</h2>

			<%= render 'comments/form' %>
	
		<br>

			<section>
				<!-- Button to go back -->
				<%= link_to "Back", root_path, class: "btn btn-primary" %>

				<!-- Button for post edits -->
				<%= link_to "Edit Post", edit_post_path(@post), class: "btn btn-primary" %>

				<!-- Button to delete post on show page of post -->
				<%= link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "You are about to delete post." }, class: "btn btn-primary" %>
			</section>			

		</div>

	</div>
</div>
